# Production Build
REACT_APP_API_URL=http://localhost:8000
REACT_APP_FIREBASE_API_KEY=your-firebase-key
REACT_APP_FIREBASE_AUTH_DOMAIN=spanisch-lernapp.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=spanisch-lernapp
REACT_APP_FIREBASE_STORAGE_BUCKET=spanisch-lernapp.appspot.com
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=your-sender-id
REACT_APP_FIREBASE_APP_ID=your-app-id
